<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <section id="carriers" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="toshi" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Toshi Concierge Delivery</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="environment" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Environment</label>
                    <source_model>Toshi\Shipping\Model\Adminhtml\Source\Environment</source_model>
                </field>
                <field id="mode" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Mode</label>
                    <source_model>Toshi\Shipping\Model\Adminhtml\Source\Mode</source_model>
                    <comment>
                        <![CDATA[If using 'try before you buy' ensure cash on delivery is enabled.]]>
                    </comment>
                </field>
                <field id="title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="name" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Method Name</label>
                </field>
                <field id="price" translate="label" type="text" sortOrder="20" showInDefault="0" showInWebsite="1" showInStore="0">
                    <label>Shipping Cost</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="specificerrmsg" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Displayed Error Message</label>
                </field>
                <field id="showmethod" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Show Method if Not Applicable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="toshi_min_basket_amount" translate="label" sortOrder="20" type="text" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Minimum Basket Amount</label>
                </field>
                <field id="toshi_endpoint_url" translate="label" sortOrder="20" type="text" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Toshi Endpoint URL</label>
                </field>
                <field id="toshi_client_api_key" translate="label" sortOrder="20" type="text" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Toshi Client API Key</label>
                </field>
                <field id="toshi_server_api_key" translate="label" sortOrder="20" type="text" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Toshi Server API Key</label>
                </field>
                <field id="size_attribute" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Size Attribute for extra sizes</label>
                    <source_model>Toshi\Shipping\Model\Config\Source\Attribute</source_model>
                </field>
                <field id="color_attribute" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Color Attribute used to send to Toshi</label>
                    <source_model>Toshi\Shipping\Model\Config\Source\Attribute</source_model>
                </field>
                <field id="timeout" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Checkout Timeout</label>
                    <comment>
                        <![CDATA[Must be in seconds (1 hour = 3600 seconds)]]>
                    </comment>
                </field>
                <field id="holidays" translate="label" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Bank Holidays</label>
                    <frontend_model>Toshi\Shipping\Block\Adminhtml\Form\Field\Dates</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <field id="deferred_days" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Deffered Days</label>
                    <comment>
                        <![CDATA[Defer shipping by X Days]]>
                    </comment>
                </field>
            </group>
        </section>
    </system>
</config>
